---
title: Thom Mott
custom_links:
  - label: About
    url: /About/
  - label: Contact
    url: /Contact/
  - label: Projects
    url: /Projects/
  - label: Resume
    url: /Resume/
redirect_from:
  - /Home/
  - /home/
  - /Landing/
  - /landing/
---

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	{% include og-meta.html %}
	<meta property="og:title" content="{{ page.title }}">
	<meta property="twitter:title" content="{{ page.title }}">
	{% include common-head.html %}
</head>
<body>
	{% include header.html %}
	
	<div class="container my-5">
		<div class="glass-box text-center mb-4 fw-normal" style="font-family: 'Raleway';">
			<h2>Welcome to my Portfolio!</h2>
			<span class="fs-5 text">
				<p>I am Thom Mott, a current undergraduate in Computer Science: Game Design B.S. @ UCSC. My focus is on game development, computer graphics and game AI, often mixing these focuses for any given project. I have experience as a researcher in HCI from my time in undergrad. Prior to—and during—my time at university, I was an active modder for the video game <a href="https://store.steampowered.com/app/304930/Unturned/">Unturned</a>.</p>
				<p>You can read more about me on my <a href="/About/">about</a> page!</p>
			</span>
		</div>

		<div class="glass-box">
			<h2 class="text-center mb-4 fw-normal" style="font-family: 'Raleway';">
				<p style="margin:0;">Featured Projects</p>
			</h2>
			<div id="projects-container" data-json="{{ site.baseurl }}/assets/data/projectsFeatured.json" class="row g-4 justify-content-center">
				<!-- Project cards will be inserted here -->
			</div>
		</div>
	</div>


	<!--Bootstrapping-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/projects.js"></script>
	<script src="{{ site.baseurl }}/assets/js/sketch.js"></script>
</body>
</html>
