<div class="page scrollpane" data-page="about" hidden>
	<h1>About</h1>
	<p>
		Thom "Spebby" Mott is a California-based graduate student affiliated with <a href="https://slothlab.info/about/index.html">SLOTHlab</a> and part time developer working in interactive digital media, specialising in Game AI and Computer Graphics. As an undergraduate, he was affiliated with the <a href="https://setlab.soe.ucsc.edu/">SET Lab</a> and SLOTHlab, contributing to projects including "Compassionate AR" and "Procedural Content Generation in Minecraft." Alongside his personal work, these experiences have shaped an approach that blends technical practice with human-centred design.</p>

	<p>
		Outside academia, Thom has been involved in game development for over a decade, getting started with video game modding in the 2010s. He released multiple officially endorsed curated maps for <a href="https://store.steampowered.com/app/304930/Unturned">Unturned</a>. He has also published several collaborative projects on <a href="https://spebby.newgrounds.com/">Newgrounds</a>. He is currently working on the upcoming action-roguelike <a href="https://store.steampowered.com/app/3497930/Gamba_Gun">Gamba Gun</a>.
	</p>
	<div class="more-indicator"></div>
</div>
