<div class="page scrollpane" data-page="contact" hidden>
	<h1>Contact</h1>
	<p class="tagline">say hi</p>
	<p>Need to reach me? You can contact me directly via email. You can reach me either through my personal, or university contact. Emails to my university address that are not research related will be ignored.</p>
	<p>Less reliably, you can find me on most social media via my handle, 'spebby' or 'spebby_'. If I do not list it on this site, it's probably one of my doppelgängers! Don't bother them!</p>
	<div class="links">
		<a href="mailto:thommott@proton.me">Personal</a>
		<a href="mailto:tomott@ucsc.edu">University</a>
		<a href="https://steamcommunity.com/profiles/76561198136390646">Steam</a>
	</div>
	<div class="more-indicator"></div>
</div>
