<div class="page split" data-page="projects" hidden>
	<div class="pane pane-info scrollpane">
		<h1>Projects</h1>
		<p class="tagline">my stuff</p>

		<p>
		  Here's the remainder of the projects I've released that I deam
		  showcasable, that I have some non-trivial tie to.
		</p>

		<div class="more-indicator"></div>
	</div>

	<div class="pane pane-cards scrollpane">
	<div
	  id="projects-container"
	  data-json="/assets/data/projRest.json"
	  class="cards row g-4 justify-content-center">
	</div>
	<div class="more-indicator"></div>
	</div>
</div>
