<div class="page scrollpane" data-page="resume" hidden>
	<h1>Résumé</h1>
	<p class="tagline">experience &amp; education</p>
	<div class="links">
		<a href="{{ site.url }}/downloads/CV_Thom_Mott.pdf">download CV</a>
		<a href="{{ site.url }}/downloads/UCSC_Unofficial_Transcript.pdf">download Transcript</a>
		<a href="{{ site.url }}/downloads/Writing_Sample_Thom_Mott.pdf">download Writing Sample</a>
	</div>
	<p></p>

	<h2>Skills</h2>
	<h3>Languages</h3>
	<p>Bash, C, C++, C#, Java, JS/TS, HLSL, Nix, Python, Rust, Zig</p>
	<h3>Engines/Frameworks</h3>
	<p>Unity, Godot, Phaser, Dear ImGui<p>
	<h3>Relevant Coursework</h3>
	<p>POSIX pthreads, C++ Threading Library, Non-blocking algorithm design, Shader work, HTTP Server + Proxy in C, Causally/Strongly Consistent Distributed KVStore with sharding support</p>
	<div class="more-indicator"></div>
</div>
