---
title: About
permalink: /About/
custom_links:
  - label: Home
    url: /
  - label: Contact
    url: /Contact/
  - label: Projects
    url: /Projects/
  - label: Resume
    url: /Resume/
redirect_from:
  - /about/
  - /Bio/
  - /bio/
---

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	{% include og-meta.html %}
	{% include common-head.html %}
</head>
<body>
	{% include header.html %}
	
	<div class="container glass-box my-5 mx-auto text-center" style="max-width: 900px; font-family: 'Raleway'; color: #000">
		<h2 class="fw-light">About</h2>
		<span class="fs-5 mb-0">
				<p>Thom "Spebby" Mott is a California-based university student and part-time developer working in interactive digital media, specialising in Game AI and Computer Graphics. As an undergraduate, he was affiliated with the <a href="https://setlab.soe.ucsc.edu/" style="font-style:italic;">SET Lab</a> and <a href="https://slothlab.info/about/index.html" style="font-style:italic;">SLOTHLab</a>, contributing to projects including "Compassionate AR" and "Procedural Content Generation in Minecraft". Alongside his personal work, these experiences have shaped an approach that blends technical practice with human-centred design.</p>

				<p>Outside academia, Thom has been involved in game development for over a decade, getting started with with video game modding in the 2010s. He released multiple officially endorsed curated maps for <a href="https://store.steampowered.com/app/304930/Unturned/" style="font-style:italic;">Unturned</a>, which was his introduction to game and level design, and has since published several collaborative projects on <a href="https://spebby.newgrounds.com/" style="font-style:italic;">Newgrounds</a>. He is currently working on the upcoming action-roguelike <a href="https://store.steampowered.com/app/3497930/Gamba_Gun/">Gamba Gun</a>.</p>
		</span>
	</div>


	<!--Bootstrapping-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/randomSketch.js"></script>
	<script>
		document.body.style.backgroundImage =`url('/assets/images/backgrounds/bird.jpg')`;
		document.body.style.backgroundAttachment = 'fixed';
		document.body.style.backgroundSize = 'cover';
		document.body.style.backgroundPosition = 'left center';
	</script>
</body>
</html>
